c:\Users\ajeer\OneDrive\Desktop\one month veeva\oop_implementation\VeevaSystem_DocumentLock_ManagementSystem\Document.class
c:\Users\ajeer\OneDrive\Desktop\one month veeva\oop_implementation\VeevaSystem_DocumentLock_ManagementSystem\LockManagement.class